* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --index: calc(1vw + 1vh);
    --color-header: #f4efec;
    --color-text: #cdc6c3;
    --gallery-gap: calc(var(--index) * 10)
}

@font-face {
    font-family: raleway-c;
    src: url(/fonts/raleway-regular.woff2);
}

@font-face {
    font-family: outfit-c;
    src: url(/fonts/outfit-regular.woff2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: outfit-c;
}

/*will-change*/
.content,
.hero,
.main-header,
.gallery>* {
    will-change: transform;
}

/*navbar*/

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fafafa;
    font-size: 1rem;
}

a:hover {
    color: orange;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle-btn {
    color: #fafafa;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action-btn {
    background-color: orange;
    color: #fafafa;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 11px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action-btn:hover {
    scale: 1.05;
    color: #fafafa;
}

.action-btn:active {
    scale: 0.95;
}

@media (max-width: 992px) {

    .navbar .links,
    .navbar .action-btn {
        display: none;
    }

    .navbar .toggle-btn {
        display: block;
    }
}

/*dropdown-menu*/
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}
@media (max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
} 

/*body*/
body {
    background-image: url(../img/bg.jpg);
    background-size: 50px;
    color: #fafafa;
    font-family: raleway-c;
    overflow-x: hidden;
}

.hero {
    width: calc(var(--index) *36);
    position: absolute;
    left: 36vw;
    top: 18vh;
    z-index: -1;
}

.main-header {
    height: 100vh;
}

.container {
    padding: 0 8vw;
}

.main-title {
    font-size: calc(var(--index) * 8);
    position: absolute;
    width: min-content;
    bottom: 12vh;
    line-height: 1;
}

.gallery {
    display: flex;
    padding: calc(var(--index) * 8) 0;
}

.gallery__item {
    max-width: calc(var(--index) * 20);
    margin-bottom: var(--gallery-gap);
    max-height: 180vh;
    border-radius: 8px;
}

.gallery>* {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gallery-left {
    margin-top: calc(var(--gallery-gap) * 2);
}

.gallery-right .gallery__item {
    margin-bottom: 0;
    margin-top: calc(var(--gallery-gap));
}

.text-block {
    color: var(--color-text);
    position: relative;
}

.text-block__h {
    font-size: 2rem;
    line-height: 2.8rem;
    color: var(--color-header);
    margin-bottom: 2rem;
}

.text-block__h1 {
    font-size: 3rem;
    line-height: 2.4rem;
    color: var(--color-header);
    margin-bottom: 1.5rem;
}

.text-block__p {
    line-height: 1.7rem;
}